{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h3>Пользовательское соглашение</h3>
<p><i>Посетитель Сайта</i> — лицо, пришедшее на сайт <a href="http://www.garden-and-house">
    http://www.garden-and-house.site</a>, без цели размещения Заказа.
</p>
<p><i>Пользователь</i> — физическое лицо, посетитель Сайта, принимающий условия настоящего Соглашения и желающий
    разместить
    Заказы в
    Интернет-магазине <a href="http://www.garden-and-house">http://www.garden-and-house.site</a></p>
<p><i>Покупатель</i> — Потребитель, Пользователь, разместивший Заказ в Интернет-магазине <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a>.
</p>
<p><i>Продавец</i> — Собственник ресурса <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a> , производитель и продавец в одном лице, товары которого
    размещены в Интернет-магазине.  В дальнейшем  <strong>G@H</strong>.
</p>
<p><i>Сайт</i> — <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a>.
</p>
<p><i>Аккаунт</i> – страница Пользователя / Покупателя, доступная после прохождения процедуры регистрации на Сайте  , содержащая персональные
    данные и доступ к которой осуществляется с использованием логина и пароля, равно как и доступная с помощью авторизации через иные поддерживаемые Сайтом / приложением сервисы. Действия, совершенные через Аккаунт, считаются совершенными Пользователем / Покупателем, чьи персональные данные указаны в Аккаунте.
</p>
<p><i>Условия</i> — страница Сайта, содержащая сведения об условиях продажи, доставки и возврата Товаров, реализуемых Продавцом, а также
    иную информацию, являющуюся существенной для заключения и исполнения договора купли-продажи Товара.
</p>
<p><i>Товар</i> — весь ассортимент товаров, представленных к продаже на Сайте.
</p>
<p><i>Заказ</i> — должным образом оформленный запрос Покупателя на приобретение и доставку по указанному Покупателем адресу или посредством
          самовывоза Товаров, выбранных на Сайте.
</p>
<h5>Общие положения</h5>
<p>Продавец осуществляет продажу Товаров через Интернет-магазин по адресу <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a> .
</p>
<p>Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи Товаров, изложенными ниже (далее — Условия продажи Товаров). В случае несогласия с настоящим Пользовательским соглашением (далее — Соглашение / Публичная оферта) Пользователь обязан немедленно прекратить использование сервиса и покинуть сайт <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a> .
</p>
<p>Настоящие Условия продажи Товаров, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и п.2 ст.437 Гражданского кодекса Российской Федерации.
</p>
<p>Соглашение может быть изменено Продавцом в одностороннем порядке с уведомлением посредством размещения информации на Сайте. Новая редакция Соглашения вступает в силу на следующий день после ее опубликования на Сайте, если иное не предусмотрено условиями Соглашения.
</p>
<p>Публичная оферта признается принятой Посетителем Сайта / Покупателем с момента регистрации Посетителя на Сайте, оформления Покупателем
    Заказа без авторизации на Сайте, а также с момента принятия от Покупателя Заказа по телефону <a href="tel:8-961-436-1276">+7 (961)
        436-12-76</a> .
</p>
<p>Сообщая <strong>G@H</strong> свой e-mail и номер телефона, Посетитель Сайта/Пользователь/Покупатель дает согласие на использование
    указанных
    средств связи <strong>G@H</strong>, а также третьими лицами, привлекаемыми им для целей выполнения обязательств перед Посетителями
    Сайта/Пользователями/Покупателями, в целях осуществления рассылок рекламного и информационного характера, содержащих информацию о скидках, предстоящих и действующих акциях и других мероприятиях Продавца, о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Покупателем в рамках настоящей Публичной оферты.
</p>
<p>Осуществляя Заказ, Пользователь/Покупатель соглашается с тем, что Продавец может поручить исполнение Договора третьему лицу, при этом оставаясь ответственным за его исполнение.
</p>
<p>В рамках Заказа <strong>G@H</strong> предоставляет Пользователю информационное сопровождение заключенного Пользователем с Продавцом
    Договора.
</p>
<p>Покупатель может оформить заказ в Интернет-магазине <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a>  24 часа в сутки, 7 дней в неделю, кроме периодов
    проведения регламентных работ или технических сбоев.
</p>
<p>К отношениям между Посетителем Сайта / Пользователем / Покупателем и Продавцом, в т.ч. в части порядка заключения и расторжения договора купли-продажи применяются положения Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» (далее – Закон о защите прав потребителей), Правила продажи товаров по договору розничной купли-продажи, перечня товаров длительного пользования, на которые не распространяется требование потребителя о безвозмездном предоставлении ему товара, обладающего этими же основными потребительскими свойствами, на период ремонта или замены такого товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих обмену, а также о внесении изменений в некоторые акты Правительства Российской Федерации (утв. Постановлением Правительства РФ от 31.12.2021 N 2463 а также положения Гражданского кодекса Российской Федерации.
</p>
<p>Местом заключения и исполнения договора Стороны признают юридический адрес (место нахождения) Лазаревой Светланы Николаевны: Россия, Ростовская область, сл. Родионово-Несветайская, ул. Октябрьская 21.
</p>
<h5>Предмет соглашения</h5>
<p>Предметом настоящего Соглашения является предоставление возможности Пользователю приобретать для личных, семейных, домашних и иных нужд, а также нужд связанных с осуществлением предпринимательской деятельности, Товары, представленные в каталоге Интернет-магазина по адресу <a
        href="http://www.garden-and-house">http://www.garden-and-house.site</a>.
</p>
<p>Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте, пока такие предложения с описанием присутствуют в каталоге Интернет-магазина.
</p>
<p>Договор розничной купли-продажи считается заключенным с момента выдачи Продавцом Покупателю кассового или товарного чека либо иного документа, подтверждающего оплату Товара.
</p>
<p><i>Товары в пути</i> - это товары, намерение о приобретении которых передано G@H и (или) которые находятся в процессе доставки Участнику.
    Если товар был оплачен онлайн, он не учитывается в товарах в пути.
</p>
<h5>Регистрация на сайте</h5>
<p>Регистрация на Сайте осуществляется с помощью вкладки «Вход» и далее по ссылке "Зарегистрироваться".
</p>
<p>Регистрация на Сайте не является обязательной для оформления Заказа.
</p>
<p><b>G@H</b> не несет ответственности за точность и правильность информации, предоставляемой Пользователем при регистрации.
</p>
<p>Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные Пользователем при регистрации. В случае возникновения у Пользователя подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Пользователь обязуется незамедлительно уведомить об этом G@H , направив соответствующее электронное письмо по адресу:  <a href="mailto:mail@htmlacademy.ru">garden-and-house@yandex.ru</a>
</p>
<p>Общение Посетителя Сайта / Пользователя/ Покупателя с продавцом или его представителем  должно строиться на принципах общепринятой морали и коммуникационного этикета. Строго запрещено использование Сторонами нецензурных слов, брани, оскорбительных выражений, а также угроз и шантажа, в независимости от того, в каком виде и кому они были адресованы. В случае если в звонке  Посетитель Сайта / Покупатель/ Пользователь совершает телефонное хулиганство, оскорбляет, проявляет агрессию, угрожает жизни сотрудникам компании, то Продавец вправе перевести общение в письменную форму. В случае если при общении в чатах/мессенджерах Посетитель Сайта / Покупатель/Пользователь совершает хулиганские действия, оскорбляет, проявляет агрессию, угрожает жизни сотрудникам, то Продавец вправе перевести взаимодействие на электронную почту (e-mail).
</p>
<h5>Товар и порядок совершения покупки
</h5>
<p>В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе уведомить об этом Покупателя путем направления соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации, либо звонком , и предложить альтернативные варианты действий в отношении такого Заказа, включая его аннулирование.
</p>
<p>В случае аннуляции полностью либо частично предоплаченного Заказа стоимость аннулированного Товара возвращается Продавцом Покупателю способом, которым Товар был оплачен либо иным способом по обоюдному согласованию.
</p>
<p>Заказ Покупателя оформляется в соответствии с процедурами, указанными на Сайте в разделе «Условия» .
</p>
<p>Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
</p>
<p>После оформления Заказа на Сайте Покупателю предоставляется информация о предполагаемой дате доставки путем направления электронного сообщения по электронному адресу, указанному Покупателем при регистрации или по телефону. Продавец уточняет детали Заказа, наличие заказанных Товаров на складе, согласовывает дату доставки и время, необходимое для обработки и доставки Заказа.
</p>
<p>В день доставки заказа продавец связывается с Покупателем по указанному им в момент оформления Заказа номеру телефона или e-mail для согласования точного времени доставки в рамках указанного Покупателем промежутка, а также для получения необходимой информации от Покупателя для возможности прохода (проезда) по адресу, указанному Покупателем. В случае если Покупатель не отвечает на звонок или сообщение Продавца, Продавец вправе перенести с согласия Покупателя доставку на другое время и (или) другой день. В случае если Покупатель не выходит на связь с Продавцом и (или) не согласовывает другое время и (или) другой день доставки, обязательство Продавца по доставке заказа считается выполненным надлежащим образом, а Покупатель - отказавшимся от заказа и исполнения договора.
</p>
<p>Посетитель Сайта / Покупатель / Пользователь уведомлен, понимает и согласен с тем, что отдельные характеристики товара являются типичными для данного вида товаров и не образуют его недостаток или несоответствие обязательным требованиям.
</p>
<p>Такими характеристиками являются, например:</p>
<ul>
    <li>Неравномерное распределение краски на изделиях из металла.
</li>
    <li>Неравномерный цвет искусственного ротангат.</li>
    <li>Скрипы при деформации мебели из искусственного ротанга.</li>
<li>Видимость скоб, в результате крепления искусственного ротанга к металлическому каркасу.</li>
    <li>Неидеальность геометрии тары для кашпо.</li>
    <li>Явные заломы ротанга в места с углами и изгибами.
</li>
    <li>Видимость местами тары, как основания, для искусственного ротанга.</li>
    <li>Отшелушивание со временем  краски на внутренних стенках кашпо.</li>
</ul>
<h5>Доставка заказа
</h5>
<p>Способы, примерные сроки доставки Товаров, указаны в разделе "Условия".
</p>
<p>При доставке Заказ вручается Покупателю либо третьему лицу,  которое может предоставить сведения о Заказе (номер отправления и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.
</p>
<p>Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя.
</p>
<p>Получатель проверяет Внешний вид и комплектность Товара, а также комплектность всего Заказа в момент доставки Товара.
</p>
<p>Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Заказа .
</p>
<p>Обязанность Продавца передать Товар Покупателю считается исполненной в момент вручения Товара Получателю или получения Товара Получателем в отделении почтовой связи либо в заранее оговоренном месте выдачи Заказа (в т.ч. в пункте самовывоза). Продавец также считается исполнившим свои обязательства в момент передачи Товара службе доставки (перевозчику) или организации связи (ст. 458 ГК РФ).
</p>
<p>При получении Заказа в отделении почтовой связи Получатель после оплаты доставленного Товара вправе осмотреть доставленный Товар и произвести его вскрытие в присутствии работников Почты России для проверки Товара на соответствие заявленному количеству, ассортименту и комплектности Товара, а также проверить срок службы доставленного Товара и целостность упаковки. В случае наличия претензий к доставленному Товару (недовложение, вложение Товара отличного от указанного в описи отправления, производственный брак, иные претензии) по указанию Получателя работниками Почты России составляется Акт о выявленных несоответствиях.
</p>
<p>В случае возврата доставленного посредством Почты России Товара в связи с наличием претензий к Товару Получатель обязан приложить к отправлению, содержащему возвращаемый Товар, следующие документы:
</p>
<ul>
    <li>подписанное заявление на возврат;</li>
    <li>копию акта о выявленных несоответствиях;
</li>
    <li>копию квитанции об оплате;</li>
    <li>копию описи Отправления.</li>
</ul>
<p>Стоимость доставки Заказа не включена в стоимость доставляемого Товара и  подлежит уплате Покупателем в день отправки товара по звонку Продавца, за исключением случаев, бесплатной доставки по г.Ростов-на-Дону.
</p>
<p>Покупателю могут быть предложены альтернативные варианты доставки. При изменении адреса или способа доставки может измениться дата доставки и будет рассчитываться индивидуально в зависимости от местонахождения заказа, изначального и нового способов доставки.
</p>
<h5>Оплата товара
</h5>
<p>Цена Товара, реализуемого в Интернет-магазине, указывается в рублях Российской Федерации.
</p>
<p>Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит. Цена Товара может дифференцироваться по регионам в зависимости от экономических показателей.
</p>
<h5>Особенности оплаты Товара с помощью банковских карт.
</h5>
<p>В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт» от 24.12.2004 № 266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.
</p>
<p>Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении данной операции. Мошеннические операции с банковскими картами попадают под действие статьи 159 УК РФ.
</p>
<p>Во избежание случаев различного рода неправомерного использования банковских карт при оплате все Заказы, оформленные на Сайте и
    предоплаченные банковской картой, могут проверяться <b>G@H</b>.
</p>
<p>При предоплате заказа (с методом доставки LME) банковской картой на сайте или через мобильное приложение, денежные средства блокируются на карте до момента выкупа товара. Для Покупателя это выглядит как обычное списание денежных средств за покупку. При настроенных уведомлениях от банка придет пуш или смс о списании денежных средств. В мобильном приложении или личном кабинете банка, рядом с такой операцией может быть пометка “авторизация ожидает подтверждения”.
</p>
<p>В момент получения заказа и при полном выкупе всех товаров, денежные средства за заказ списываются со счета. Дополнительной операции о списании денежных средств в день выкупа заказа не будет. Операция списания будет датирована днем оформления заказа (а не выкупа) в мобильном приложении или личном кабинете банка Покупателя.
</p>
<p>При частичном выкупе товаров из заказа, операция о списании денежных средств в день оформления заказа уменьшится на сумму, равную стоимости невыкупленных товаров. При этом денежные средства за доставку будут списаны как за оказанную услугу.
</p>
<p>При полном отказе от заказа, операция о списании денежных средств в день оформления заказа будет удалена из истории операций. При этом денежные средства за доставку будут списаны как за оказанную услугу.
</p>
<p>Обратите внимание: при холдировании денежные средства не поступают Продавцу и их разблокировку осуществляет банк.
</p>
<p><b>G@H</b> вправе предоставлять скидки на Товары и устанавливать программу бонусов . Виды скидок, бонусов, порядок и условия начисления
    определяются G@H самостоятельно  и могут быть изменены Продавцом в одностороннем порядке с уведомлением Покупателя посредством размещения информации на Сайте.
</p>
<p>В случае если при применении скидки / бонуса пересчитанная стоимость Товара G@H включает в себя копейки, такая стоимость товара подлежит округлению в сторону увеличения до значения, кратного 1 (Одному) рублю.
</p>
<p>При оплате товара Покупателю направляется чек в электронной форме на адрес электронной почты, указанной в личном кабинете <b>G@H</b>.
</p>
<h5>Возврат товара и денежных средств
</h5>
<p><u>Общие положения о возврате</u>
</p>
<p>Возврат Товара, реализуемого G@H, осуществляется за счет Покупателя с предварительным обговаривание условий с Продавцом.
</p>
<p>Способы возврата Товара:
</p>
<ul>
    <Li>Почта России: Вне зависимости от способа получения заказа; возврат Товара платный.</Li>
    <li>Транспортная компания</li>
    <li>Доставка возврата Покупателем</li>
</ul>
<p><u>Возврат Товара надлежащего качества</u>
</p>
<p>Cогласно Постановлению Правительства РФ №55 от 19 января 1998 года, мебель относится к товарам надлежащего качества возврату которые
    не подлежат.</p>
<p>Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а после получения Товара — в течение 14 календарных дней, не считая дня покупки . Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид (отсутствие следов эксплуатации ), потребительские свойства.
</p>
<p>При возврате Товара надлежащего качества Покупатель должен возвратить Товар Продавцу для проверки сохранности товарного вида и потребительских свойств Товара. Возврат денежных средств, уплаченных Покупателем Продавцу за Товар происходит после проведения указанной проверки (ч. 4 ст. 26 Закона РФ «О защите прав потребителей» и разъяснений Роспотребнадзора от 27.04.2017 г.).
</p>
<p>При отказе Покупателя от Товара согласно п. 7.2.1. Продавец возвращает ему стоимость возвращенного Товара, за исключением расходов Продавца, связанных с доставкой возвращенного Покупателем Товара (п. 22 Правил, утв. Постановлением Правительства РФ от 31.12.2020 N 2463), в течение 10 дней с даты поступления возвращенного Товара на склад Продавца вместе с заполненным Покупателем заявлением на возврат.
</p>
<p><u>Возврат Товара ненадлежащего качества</u>
</p>
<p>Под Товаром ненадлежащего качества подразумевается Товар, который неисправен и не может обеспечить исполнение своих функциональных качеств.
</p>
<p>Если Покупателю был передан Товар ненадлежащего качества и это не было заранее оговорено Продавцом, Покупатель вправе воспользоваться положениями ст. 18 Закона РФ «О защите прав потребителей».
</p>
<p>Продавец обязан принять Товар ненадлежащего качества у Покупателя и в случае необходимости провести проверку качества Товара. Покупатель обязан предоставить Товар для такой проверки (пункты 1 и 3 статьи 18 Закона РФ «О защите прав потребителей», Разъяснения Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека от 27.04.2017 г. № 01/5278-17-29, пояснения Роспотребнадзора).
</p>
<p>В случае спора о причинах возникновения недостатков Товара Продавец обязан провести экспертизу Товара за свой счет. Экспертиза Товара проводится в течение 10 дней с момента получения Товара.
</p>
<p>Требования о возврате уплаченной за Товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования и возврата Товара Продавцу (ст. 22 Закона РФ «О защите прав потребителей», Разъяснение Роспотребнадзора от 27.04.2017 г.).
</p>
<p>Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара на банковскую карту, почтовым переводом или наличными ,по согласованию сторон.
</p>
<p>При возврате Товара ненадлежащего качества Покупатель вправе требовать возмещения разницы между ценой Товара, установленной договором, и ценой соответствующего Товара на момент добровольного удовлетворения такого требования, а также компенсации подтвержденных почтовых расходов.
</p>
<h5>Ответственность
</h5>
<p>Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования Товаров, приобретенных в Интернет-магазине.
</p>
<p>Моральный вред, причиненный Покупателю вследствие нарушения Продавцом прав потребителя, подлежит компенсации причинителем вреда только при наличии его вины.
</p>
<h5>Конфиденциальность и защита информации</h5>
<p>Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.
</p>
<p>При регистрации на Сайте Пользователь предоставляет следующую информацию: Фамилия, Имя, Отчество, адрес электронной почты,  адрес доставки товара.
</p>
<p>Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на их обработку Продавцом, в том
    числе в целях выполнения Продавцом обязательств перед Посетителем Сайта/Пользователем/Покупателем в рамках настоящей Публичной
    оферты, возможности связи с Посетителем Сайта/Пользователем/Покупателем, продвижения Продавцом Товаров и услуг, проведения
    электронных и sms опросов, контроля результатов маркетинговых акций, приглашения к участию в проводимых программах по улучшению
    качества обслуживания, клиентской поддержки, организации доставки Товара Покупателям, обеспечения процесса возврата Товаров от
    Посетителя сайта /Пользователя/Покупателя, возможности использования доступных платежных систем, оформление потребительского кредита
    у компании-партнера Продавца, проведение розыгрышей призов среди Посетителей Сайта/Пользователей/ Покупателей, контроля
    удовлетворенности Посетителя Сайта/Пользователя/Покупателя, качества услуг, оказываемых Продавцом, а также для целей улучшения и
    доработок внутренних систем Продавца, которые используются для исполнения принятых на себя обязательств Продавцом, и поддержания
    корректной работы веб-сайта <a href="http://www.garden-and-house.site"> http://www.garden-and-house.site </a> .
</p>
<p>Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
</p>
<p><b>G@H</b> имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон
    Пользователя/Покупателя. Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без объяснения причин
    отказа путем информирования G@H о своем отказе по телефону <a href="tel:8-961-436-1276">+7 (961)
        436-12-76</a> либо посредством направления соответствующего заявления на
    электронный адрес <b>G@H</b>:  <a href="mailto:mail@htmlacademy.ru">garden-and-house@yandex.ru</a>
</p>
<p><b>G@H</b> вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. Посетитель / Пользователь /
    Покупатель настоящим дает согласие на сбор, анализ и использование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
</p>
<p><b>G@H</b> получает информацию об ip-адресе посетителя Сайта <a href="http://www.garden-and-house">
    http://www.garden-and-house.site</a>  . Данная информация не используется для
    установления личности посетителя.
</p>
<p><b>G@H</b> не несет ответственности за сведения, предоставленные Пользователем/Покупателем на Сайте в общедоступной форме.
</p>
<p><b>G@H</b> вправе осуществлять записи телефонных разговоров с Пользователем/Покупателем, в том числе для улучшения качества
    обслуживания.
    При этом G@H обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 Федерального закона от 27.07.2006 N 149-ФЗ «Об информации, информационных технологиях и о защите информации».
</p>
<h5>Срок действия Публичной оферты
</h5>
<p>Настоящая Публичная оферта вступает в силу с момента ее акцепта Посетителем Сайта/Покупателем, и действует до момента отзыва акцепта Публичной оферты или до момента ее фактического исполнения, в зависимости от того, что наступит раньше.
</p>
<h5>Дополнительные условия
</h5>
<p>Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
</p>
<p>Интернет-магазин и предоставляемые сервисы могут временно частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера. Техническая служба G@H имеет право периодически проводить необходимые профилактические или иные работы с предварительным уведомлением Покупателей или без такового.
</p>
<p>При достижении одного и (или) нескольких из указанных ниже условий приобретение последующих товаров подразумевает предварительное согласование условий договора розничной купли-продажи с Продавцом, в том числе согласование наличия, наименования и количества товара:
</p>
<ul>
    <li>заявление требования о возврате более 90% выкупленных товаров
</li>
    <li>выявление факта подмены товара при выкупе и (или) возврате</li>
    <li>использование более 5 банковских карт для оплаты и (или) возврата денежных средств</li>
    <li>намеренное использование одним и тем же лицом разных электронных адресов и (или) номеров телефона для оформления заказов
</li>
    <li>нарушение порядка возврата товара и заявления требования, установленного Публичной офертой</li>

</ul>
<p>К отношениям между Пользователем/Покупателем и Продавцом применяются положения Российского законодательства.
</p>
<p>В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя он вправе обратиться к Продавцу по телефону или иным доступным способом, указанным в настоящей Оферте или соответствующем разделе Сайта.
</p>
<p>Признание судом недействительности какого-либо положения настоящего Соглашения не влечет за собой недействительность остальных положений.
</p>
<p><b>G@H </b>строго соблюдает принципы конфиденциальности и безопасности личных данных.
</p>
<p>Адрес для обращений - <a href="mailto:mail@htmlacademy.ru">garden-and-house@yandex.ru</a> или из вкладки Контакты</p>
{% endblock content %}