
{% extends 'store/main.html' %}
{% load static %}
{% block content %}
   <div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; На Главную</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Количество: <strong>{{ order.get_cart_items }}</strong></h5></th>
						<th><h5>Стоимость:<strong> {{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Далее</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:2"><strong>Color</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
                {% for i in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ i.product.imageURL }}"></div>
					<div style="flex:2"><p>{{ i.product.name }}</p></div>
					<div style="flex:2"><p>{{ i.color }}</p></div>
					<div style="flex:1"><p>{{ i.product.price|floatformat:2 }}</p></div>
					<div style="flex:1" class="block-quantity">

						<span class="quantity item-quantity">{{ i.quantity }}</span>

						<div class="quantity img-quantity" >
							<img class="chg-quantity update-cart" data-product ='{{ i.product.id }}' data-action="add" data-color="{{ i.color }}"
								 src="{% static  'img/arrow-up.png' %}">

							<img class="chg-quantity update-cart" data-product ='{{ i.product.id }}' data-action="remove" data-color="{{ i.color }}"
								 src="{% static  'img/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>{{ i.get_total|floatformat:2 }}	&nbsp;	&nbsp;
					<img class='del-position update-cart' src="{% static 'img/del-icon.png' %}" data-product ='{{ i.product.id }}'
						 data-action="del" data-color="{{ i.color }}">
					</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}





