{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container text-center">
    <div class="row row-cols-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/bronza.jpg' %}" class="card-img-top" alt="Цвет 'Бронза'">
                <div class="card-body">
                    <p class="card-text">Цвет "Бронза"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/dub.jpg' %}" class="card-img-top" alt="Цвет 'Дуб'">
                <div class="card-body">
                    <p class="card-text">Цвет "Дуб"</p>
                </div>
            </div>
        </div>
        <div class="col">
             <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/dub-ombre.jpg' %}" class="card-img-top" alt="Цвет 'Дуб-Омбре'">
                <div class="card-body">
                    <p class="card-text">Цвет "Дуб-Омбре"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/forest-oreh.png' %}" class="card-img-top" alt="Цвет 'Лесной Орех'">
                <div class="card-body">
                    <p class="card-text">Цвет "Лесной Орех"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/venge.jpg' %}" class="card-img-top" alt="Цвет 'Венге'">
                <div class="card-body">
                    <p class="card-text">Цвет "Венге"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/indi-tree.png' %}" class="card-img-top" alt="Цвет 'Индийское дерево'">
                <div class="card-body">
                    <p class="card-text">Цвет "Индийское дерево"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/color/white.png' %}" class="card-img-top" alt="Цвет 'Белый'">
                <div class="card-body">
                    <p class="card-text">Цвет "Белый"</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}