{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h3>Срок изготовления</h3>
<ul>
    <li>Кашпо: от 3 до 30 дней</li>
    <li>Мебель и изделия интерьера: от 3-х недель</li>
</ul>



<h3>Доставка</h3>
<ul>
<li>Доставка производится "Почтой России" по текущим тарифам по всей России.<br>
Стоимость доставки можно расчитать по следующей ссылке -
    <a href="https://www.pochta.ru/parcels">https://www.pochta.ru/parcels</a></li>
    <li>Доставка крупногабаритных изделий(мебель, изделия интерьера) по России осуществляется по договоренности с продавцом, транспортными
        компаниями; по Ростову и Ростовской области по договоренности.
        </li>
<li>По городу Ростов-на-Дону доставка бесплатная продавцом.</li>
<li>Возможен самовывоз.</Li>
</ul>
<h3>Оплата</h3>
<ul>
<li>При покупке в интернет-магазине оплата производится через .....</li>
    <li>В случае нахождения покупателя в Ростове-на-Дону, возможна
    оплата при доставке продавцом на место сделки,  без оформления через интернет-магазин. Для этого необходимо связаться с продавцом.</li>
<li>Оплата доставки "Почтой России" и транспортными компаниями производится покупателем  по готовности товара к отправке, переводом
    продавцу. О стоимости перевода покупатель информируется в телефонном режиме или через мессенджеры.
    .</li>
</ul>
    <h3>Процесс заказа</h3>
<ul>
    <li>Заказ может сделать как авторизованный пользователь, так и неавторизованный</li>
    <li>Увидеть категории товара Вы можете на вкладке "Главная", на которой находится лишь несколько единиц товара определенной
        категории. Перейти полностью в определенную категорию можно по ссылке "Весь товар в категории..."
    </li>
<li>При заказе определенного товара необходими выбрать цвет и нажать на кнопку "В Корзину"</li>
    <li>Перейдя в корзину в Корзину Вы можете добавить количество или удалить полностью позицию. Одно наименование товара, но разного
        цвета считаются двумя разными позициями.</li>
    <li>Создав полностью свой список товара необходимо нажать на кнопку "Checkout"  и внести данные для доставки.</li>
    <li>Нажать на кнопку "Оплатить" и произвести оплату.</li>
    <li>Еслил Вы авторизованный пользователь, то теперь свои ордера и информацию по ним Вы сможете увидеть во вкладке "Профиль"</li>


</ul>
{% endblock content %}