<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Вход</title>
    {% endif %}

    <link href="http://js.russianpostcalc.ru/css/autocomplete.css" rel="stylesheet" type="text/css"/>
    <link href="http://js.russianpostcalc.ru/css/rpc_style.css" rel="stylesheet" type="text/css"/>

    <link rel="icon" href="{% static 'img/title-icon.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
<style>
        .thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }

        .thumb {
            padding: 5px;
        }

</style>
    {% block css %}

    {% endblock %}


    <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		if (csrftoken == null){
		    csrftoken = '{{ csrf_token }}'
		    console.log('django: ', csrftoken)
		}

		function getCookie(name) {

		    var cookieArr = document.cookie.split(";");
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        if(name == cookiePair[0].trim()) {
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))
		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}





    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'store' %}"><img src="{% static 'img/logo.png' %}" width="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'store' %}">
                        Главная</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'store' %}">
                        Главная</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/about/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">
                        О нас</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'about' %}">
                        О нас</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/galary/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'galary' %}">
                        Галерея</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'galary' %}">Галерея</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/color/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'color' %}">
                        Цвета</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'color' %}">Цвета</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/conditions/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'conditions' %}">
                        Условия</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'conditions' %}">Условия</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/contact/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">
                        Контакты</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'contact' %}">Контакты</a>
                    {% endif %}
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    {% if request.META.PATH_INFO == "/profile/" %}
                    <a class="nav-link active" aria-current="page" href="{% url 'profile_view' %}">Профиль</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'profile_view' %}">Профиль</a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            <div class="my-2 my-lg-0 block-cart">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile_view' %}" class="log"><span class="log">{{ user.username }}
                    |</span></a>
                <a onclick="location.href='{% url 'logout' %}?next=/profile'" class="log">Выход</a>
                {% else %}
                <a href="{% url 'login' %}" class="log">Вход</a>
                {% endif %}

                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'img/cart.png' %}"></a>


                <div id="cart-total">{{ cartItems }}</div>

            </div>
        </div>
    </div>
</nav>


    <div class="container ">
        <br>
        {% block content %}
        {% endblock content %}
    </div>

{% block footer %}
<div class="footer">
    <div class=" footer-block">
        <div class="socity">
            <span class="socity-text">Мы в социальных сетях: </span>
            <div>
            <a href="https://ok.ru/profile/121514035572"><img src="{% static 'img/ok.png' %}" ></a>
            <a href="https://vk.ru/kashpo_rotang_rnd"><img src="{% static 'img/vk.png' %}" ></a>
            </div>
        </div>
        <div class="developed">Developed by <a href="https://vk.com/zanchenko" class="zay">Zay&trade;</a> </div>
    </div>
</div>
{% endblock %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<script>
</script>
{% block scripts %}
{% endblock %}
</body>
</html>