body{
	background-color: hsl(0, 0%, 98%);
}


h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: inline-block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}
.del-position{
    	cursor: pointer;

}


.hidden{
	display: none!important;
}

.block-cart{
    width:200px;
}
.block-quantity{
    position: relative;
}
.item-quantity{
    position: absolute;
    top:0;
    left:0;
}
.img-quantity{
    position: absolute;
    top:-4px;
    left:20px;
}
.category-title{
    background:rgba(79,134,140,0.4);
    font-weight: 700;
    color:#FFFFFF;
}
@media (min-width: 1352px){
    .product{
        height:200px;
    }
}
@media (min-width: 1330px){
    .product{
        height:205px;
    }
}
@media (min-width: 1186px){
    .product{
        height:210px;
    }
    h6{
        font-size: 1.1em;

    }
    .carrency{
        font-size: 10px;
    }
    .product-cart{
        color:red;
    }

}
.discount-container{
    position:absolute;
    top:12%;
    background:#F7B529;
    width:15%;
    color:white;
    font-weight:700;
    padding-left:5px

}
.discount-price-container{
    position:absolute;
    top:5%;
    background:#F7B529;
    width:27%;
    color:white;
    font-weight:300;
    padding-left:5px;
    text-decoration: line-through red;
}
.product-cart{
    position:relative;

}
.open-category{
   text-align: center;
vertical-align: middle;
line-height: 70px;

   }
.open-category > a{
    text-decoration:none;
    color:#F7B529;
    font-weight:600;
}
.message-form{
    display:block;
}
.line-email, .line-subject{
    width:40%;

}
.log{
    text-decoration:none;
    color:#B0C8CB;
    cursor:pointer;
}
.log:hover{
    color:#B0D3CB;
}
.product-image{
    object-fit: cover;


}

@media screen and (max-width: 1000px) {
.product-cart{
        max-width:350px;
    }

}
@media screen and (max-width: 800px) {
.product-cart{
        width:auto;
    }

}